.page-home {height:100%;
  section.mapping {width:100%;height:100%;//transition:all 0.5s ease;transform:scale(1,1);
    .map-container, .map-instance {width:100%;height:100%;}
    .map-container {position:relative;}
    .location-searches {margin:0 auto;position:fixed;width:100%;max-width:86%;top:8%;left:7%;right:7%;z-index:9999;background:#fff;border:1px solid transparent;box-shadow:0 0 20px rgba(55,55,55,0.5);
      .inline-buttons {font-size:0;line-height:1;
        .btn {width:50%;}
      }
      .map-place-search.origin {
        .use-current-location {color:#666;background:transparent;border:0;line-height:1;padding:0.25rem 0.5rem;position:absolute;top:50%;right:0;transform:translateY(-50%);cursor:pointer;
          span, i {vertical-align:middle;}
          span {font-size:100%;padding-right:3px;}
          i {font-size:170%;}
        }
      }
      .refinements {position:relative;border-top:1px solid #ddd;padding:0.5rem;
        label {font-size:12px;margin:0;line-height:2;
          strong {text-transform:uppercase;background:#ddd;padding:0.25rem;}
        }
        .config-when {padding:0.25rem;line-height:1;font-size:140%;position:absolute;top:50%;right:0;transform:translateY(-50%);}
      }

      &.mini {top:-50%;}
    }
    .execute-search-btn {padding:0.25rem 0 0.25rem 1.5rem;line-height:1;position:absolute;z-index:999;bottom:2rem;left:50%;transform:translateX(-50%);box-shadow:0 0 10px #000;
      span, i {display:inline-block;vertical-align:middle;}
      i {position:relative;left:-10%;font-size:220%;}
    }
  }

  section.results-overlay {position:relative;height:70%;//display:none;width:85%;height:100%;background:#fff;box-shadow:0 0 4px;position:absolute;top:0;right:0;bottom:0;//visibility:hidden;opacity:0;//transform:scale(1.2,1.2) translateX(25%);transition:all 0.25s ease;z-index:3;//overflow-x:hidden;overflow-y:scroll;-webkit-overflow-scrolling:touch;
    &::before {display:block;content:'';background:rgba(0,0,0,0.25);position:absolute;top:0;right:100%;bottom:0;width:100%;}
    .back-to-map {padding:0;border:0;background:transparent;color:$theme-magenta;position:absolute;top:50%;right:100%;transform:translateY(-50%);
      i {font-size:350%;}
    }
    .scrollable {padding-bottom:50%;/*@todo:dont guess height*/position:relative;width:100%;height:100%;overflow-x:hidden;overflow-y:scroll;-webkit-overflow-scrolling:touch;
      .textual-summary {//background:$theme-dark;
        // p[origin] span {color:$theme-green;}
        // p[destination] span {color:$theme-magenta;}
        h6 {margin:0;padding:0.75rem;background:$theme-dark;color:$theme-green;}
        // .summary-items {font-size:80%;padding:0.5rem;
        //   strong {display:inline-block;background:$gray-lighter;padding:0.25rem;margin-right:0.5rem;border-bottom:1px solid darken($gray-lighter, 5%);}
        //   .line-item {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
        // }
      }
      .results-list {
        .search-results {
          .result {font-size:13px;display:table;width:100%;height:auto;line-height:1;vertical-align:middle;border-top:1px solid $gray-lighter;
            &:hover {background:#f1f1f1;}
            .inner {padding:0.5rem;display:table-cell;width:100%;height:100%;vertical-align:middle;}
            .account-pic {vertical-align:middle;line-height:1;display:inline-block;width:50px;height:50px;border-radius:50%;background-position:50% 50%;background-size:cover;}
            .meat {line-height:1.3;padding-left:0.75rem;display:inline-block;overflow:hidden;vertical-align:middle;
              // * {vertical-align:middle;}
              .pseudo-row {display:block;}
              .nombre {text-transform:capitalize;font-size:110%;}
            }
            .nombre {font-weight:bold;font-style:italic;}
          }
        }
      }
    }
    .post-trip {position:absolute;bottom:0;left:0;right:0;width:100%;background:#f1f1f1;padding:1rem;font-size:13px;
      button {margin:0 auto;display:inline-block;}
    }
  }

  // &.search-overlay-open {
  //   section.mapping {transform:scale(0.85,0.85) translateX(-5%);opacity:0.4;box-shadow:0 0 10px;}
  //   section.results-overlay {transform:scale(1,1) translateX(0);opacity:1;visibility:visible;}
  // }

  @include media-breakpoint-up(md) {
    section.mapping {
      .location-searches {max-width:420px;}
    }
    section.results-overlay {max-width:320px;
      &::before {display:none;}
    }
    // &.search-overlay-open {
    //   section.mapping {width:calc(100% - 320px);transform:translateX(0);opacity:1;box-shadow:0 0 10px;}
    //   section.results-overlay {transform:scale(1,1) translateX(0);opacity:1;visibility:visible;}
    // }
  }
}
