<div class="modal-account-login-or-create">
  <form v-if="viewForm == 'login'" class="login" v-on:submit.prevent="loginLocal">
    <h1 class="lead">Login</h1>
    <div class="socials">
      <a href="https://lo.cal:4434/auth/facebook"><i class="icon-circle-facebook"></i></a>
    </div>
    <div class="form-body">
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" v-model="email" />
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" v-model="password" />
      </div>
      <small class="form-text">Don't have an account yet? <a @click="setView('register')">Signup Here</a> or just use Facebook below!</small>
    </div>
    <button class="btn btn-success btn-block" type="submit">
      <span>Login</span>
    </button>
  </form>

  <form v-if="viewForm == 'register'" class="register" v-on:submit.prevent="createAccountLocal">
    <h1 class="lead">Create Account</h1>
    <div class="form-body">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="First Name" v-model="firstName" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Last Name" v-model="lastName" />
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" v-model="email" required />
      </div>
      <div class="form-group">
        <input type="tel" class="form-control" placeholder="Phone #" v-model="phone" required pattern="^\d{3}-\d{3}-\d{4}$" />
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" v-model="password" required />
      </div>
    </div>
    <button class="btn btn-success btn-block" type="submit">
      <span>Create Account</span>
    </button>
  </form>
</div>
