<div class="search-form">
  <form v-on:submit.prevent="submitSearch">
    <!-- <calendry-view v-model="query.date"></calendry-view>
    <div>
      <select v-model="query.time.hour">
        <option v-for="n in 12" :value="n">{{ n }}</option>
      </select>
      <select v-model="query.time.min">
        <option :value="00">00</option>
        <option :value="15">15</option>
        <option :value="30">30</option>
        <option :value="45">45</option>
      </select>

      <select name="time" v-model="query.time.hourMin">
        <template v-for="n in 12">
          <option :value="n + ':00'">{{ n }}:00</option>
          <option :value="n + ':30'">{{ n }}:30</option>
        </template>
      </select>
      <select v-model="query.time.ampm">
        <option value="am">am</option>
        <option value="pm">pm</option>
      </select>
    </div> -->
    <!-- <label><input type="checkbox" v-model="query.flexible" /> Sometime Today (Time Flexible)</label> -->

    <!-- <div>
      <p style="margin:0;">Let others see I'd like a ride.</p>
      <label>Yes <input type="radio" name="addMyRequest" v-model="query.addMyRequest" :value="true" /></label>
      <label>No <input type="radio" name="addMyRequest" v-model="query.addMyRequest" :value="false" /></label>
    </div>

    <div>
      <p style="margin:0;">I'd consider driving and scooping others</p>
      <label>Yes <input type="radio" name="wouldDrive" v-model="query.wouldDrive" :value="true" /></label>
      <label>No <input type="radio" name="wouldDrive" v-model="query.wouldDrive" :value="false" /></label>
    </div> -->

    <button type="submit" class="btn btn-success btn-block">Find</button>
  </form>

  <form v-on:submit.prevent="submitRide">
    <button type="submit" class="btn btn-success btn-block">Post Ride</button>
  </form>
</div>
