.modal-account-login-or-create {max-width:340px;margin:0 auto;
  form.login {background:#f1f1f1;box-shadow:0 0 15px rgba(0,0,0,0.45);
    h1 {font-weight:200;font-style:italic;margin:0;color:$theme-green;background:$theme-dark;padding:1rem;text-transform:uppercase;}
    .socials {text-align:center;font-size:400%;line-height:1;padding:1rem;border-bottom:1px solid #ccc;
      a {color:$theme-green;text-shadow:0 0 10px rgba($theme-dark, 0.5);}
    }
    .form-body {padding:1rem;
      a {text-decoration:underline;}
      .form-group:last-child {margin-bottom:0;}
    }
  }
  form.register {background:#f1f1f1;box-shadow:0 0 15px rgba(0,0,0,0.45);
    h1 {font-weight:200;font-style:italic;margin:0;color:$theme-green;background:$theme-dark;padding:1rem;text-transform:uppercase;}
    .form-body {padding:1rem;
      .form-group:last-child {margin-bottom:0;}
    }
  }
}
