.modal-trip-add {max-width:340px;margin:0 auto;
  form {background:#f1f1f1;box-shadow:0 0 15px rgba(0,0,0,0.45);
    h1 {font-weight:200;font-style:italic;margin:0;color:$theme-green;background:$theme-dark;padding:1rem;text-transform:uppercase;}
    .form-body {padding:1rem;font-size:90%;
      .form-group:last-child {margin-bottom:0;}
      .summary {max-width:100%;padding-bottom:1rem;
        span {display:block;max-width:100%;@include textEllipsis();}
        strong {text-decoration:underline;}
      }
      .styled-radio {position:relative;
        .custom-circular-radio {display:inline-block;width:12px;height:12px;border-radius:50%;border:3px solid $theme-green;position:absolute;left:0;top:50%;transform:translateY(-50%);transition:all 0.25s ease;}
        input[type="radio"] {display:none;}
        input[type="radio"]:checked ~ .custom-circular-radio {background:$theme-green-darker;border-color:$theme-green-darker;}
      }
      img {max-width:100%;margin-bottom:1rem;box-shadow:0 0 10px rgba($theme-dark, 0.5);border-radius:5px;}
    }
  }
}
