<!DOCTYPE html>
<html app-version="<%= package.version %>" gmaps-apikey="<%= getEnvVar('GOOGLE_MAPS_API_KEY') %>">
<head>
  <title>CatchAlong :: Share Seats On The Same Route</title>
  <link rel="stylesheet" type="text/css" href="/app.css" />
</head>

<body>
  <div gmap></div>

<!-- BEGIN: TEMPLATE PARTIALS -->
<!-- PARTIALS -->
<!-- END: TEMPLATE PARTIALS -->
<% _.forEach(scripts, function (scriptPath) { %>
<script type="text/javascript" src="<%= scriptPath %>"></script><% }) %>
</body>
</html>
