<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>CatchAlong :: Share Seats On The Same Route</title>
  <base href="/" />
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="apple-touch-icon" href="/img/ketch-logo.png" />
  <link rel="stylesheet" type="text/css" href="/app.css" />
</head>

<body>

  <!-- defaults to assuming OFFLINE, and showing waiting for network -->
  <div id="offliner">
    <div id="offliner-message">
      <img src="/img/logo285x317.png" style="max-width:120px;" />
      <p>Checking the "work" in network...</p>
      <img src="/img/loading-ring.svg" />
    </div>
  </div>

  <!-- main app view -->
  <main app-mount="main" :class="{'nav-open':$store.getters.navStatus}">
    <!-- <a ref="navTrigger" id="nav-trigger" class="icon-navicon" v-on:click="$_toggleNav(!$store.getters.navStatus)"></a> -->

    <navigation ref="navigation" inline-template>
      <nav navigation>
        <a id="nav-trigger" class="icon-navicon" v-on:click="$_toggleNav(!$store.getters.navStatus)"></a>
        <div class="sidebar">
          <account-basics v-if="$store.getters.accountIsLoggedIn"></account-basics>
          <div class="account-basics entice" v-if="!$store.getters.accountIsLoggedIn">
            <button class="btn btn-success btn-block" @click="openAccountLogin">Login</button>
            <p>Don't have an account yet? <a @click="openAccountCreate">No but I want one</a></p>
          </div>
          <ul>
            <router-link v-for="(item, index) in navItems" :key="item.name" tag="li" :to="item.path" exact>
              <a>{{ item.name }}</a>
            </router-link>
          </ul>
          <btn :invoke="$_logout" v-if="$store.getters.accountIsLoggedIn" class="btn btn-success btn-block" style="position:absolute;left:0;bottom:0;">
            <span>Sign Out</span>
          </btn>
        </div>
      </nav>
    </navigation>

    <div id="container-1" ref="mainView">
      <keep-alive include="doKeepAlive">
        <router-view></router-view>
      </keep-alive>
    </div>
  </main>

  <!-- modal window -->
  <modal-window app-mount v-show="$store.getters.modalStatus"></modal-window>

<!-- BEGIN: TEMPLATE PARTIALS -->
<!-- PARTIALS -->
<!-- END: TEMPLATE PARTIALS -->

<% _.forEach(scripts, function (scriptPath) { %>
<script type="text/javascript" src="<%= scriptPath %>"></script>
<% }) %>

<% if (envIs('development')) { %>
<script type="text/javascript">
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = 'https://' + location.hostname + ':35729/livereload.js?snipver=1';
  document.querySelector('head').appendChild(script);
</script>
<% } %>
</body>
</html>
