$theme-dark: #302f35;
$theme-darkish: lighten($theme-dark, 8%);
$theme-green: #00d0a3;
$theme-green-darker: #28ab8e;
$theme-magenta: #d00070;

$brand-success: $theme-green-darker;
$brand-danger:  $theme-magenta;

$border-radius:          0;
$border-radius-lg:       0;
$border-radius-sm:       0;

$navMobileWidth: 86%;
$navFullWidth: 300px;

@import './icons/style';
@import './variables';
@import './mixins/_all';
@import 'bootstrap/scss/bootstrap';

html, body {height:100%;font-weight:200;letter-spacing:0.15;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
body {background:$gray-lighter;overflow-x:hidden;overflow-y:visible;}
a {cursor:pointer;}
a, a:active, a:hover, a:focus, a:visited {text-decoration:none;}
.tabular {display:table;width:100%;height:100%;
  .cellular {display:table-cell;width:100%;height:100%;vertical-align:middle;}
}
.btn {text-transform:uppercase;}
button, input, select {outline:none !important;}
.styled-select {position:relative;background:darken($gray-lighter, 5%);color:#000;
  &:before {color:inherit;display:inline-block;content:'\e634';font-family:'icomoon';font-size:30px;position:absolute;right:0;top:50%;pointer-events:none;transform:translateY(-50%);}
  select {color:inherit;-webkit-appearance:none;border:0;border-radius:0;background:transparent;padding:0.5rem 0.75rem;margin:0;width:100%;display:block;}
}
.content-padding {padding:2rem;}

#offliner {opacity:1;visibility:visible;display:table;position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background:$theme-dark;z-index:999;transition:all 0.5s ease;z-index:99;
  #offliner-message {color:#fff;display:table-cell;width:100%;height:100%;vertical-align:middle;text-align:center;
    p {margin:0;padding:1rem 0 0.5rem;text-transform:uppercase;font-weight:bold;font-size:80%;}
  }
}

[app-mount] {display:none;}
.app-online {
  #offliner {opacity:0;visibility:hidden;z-index:-1;}
  [app-mount] {display:block;}
}

// #nav-trigger {margin:0.5rem;background:#1d1d1d;padding:0.5rem 0.5rem 0.5rem 0.6rem;color:#fff;position:fixed;top:0;left:0;z-index:99;font-size:1rem;//transform:translateX(0);transition:all $navMenuTiming $navMenuAnimation;
//   &:active, &:hover {color:#fff;}
// }
#nav-trigger {margin:0.5rem;background:#1d1d1d;padding:0.5rem 0.5rem 0.5rem 0.6rem;color:#fff;position:absolute;top:0;left:100%;z-index:99;font-size:1rem;//transform:translateX(0);transition:all $navMenuTiming $navMenuAnimation;
  &:active, &:hover {color:#fff;}
}
.ketch-logo {display:inline-block;background:transparent url('/img/logo285x317.png') no-repeat 50% 50%;background-size:cover;
  &.small {padding:1.2rem;}
}

main {width:100%;max-width:100%;overflow-x:hidden;overflow-y:visible;
  header {padding:2.75rem;text-align:center;font-size:2.5rem;font-weight:200;text-transform:uppercase;background:url(https://images.unsplash.com/photo-1417354691640-148c3d652342?dpr=2&auto=compress,format&fit=crop&w=767&h=767&q=80&cs=tinysrgb&crop=);background-size:cover;background-position:100%;text-shadow:0 0 10px #fff;}
  #container-1 {z-index:1;width:100%;overflow-y:visible;}
}

nav, #container-1 {transform:translateX(0);transition:all 0.15s ease;}
.nav-open {
  nav {transform:translateX(100%);}
  #container-1 {transform:translateX($navMobileWidth);}
}

@import './components/_all';
@import './pages/home';
@import './pages/trips';
@import './pages/account';
