<div class="map-container">
  <div class="map-instance"></div>

  <div class="start-end-info">
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row-start">
          <td class="paddingless" colspan="4" v-if="!$currentStart">
            <place-search class="place-search-start" v-if="mapLoaded" :map-obj="$mapObj" action="TRIP.ADD_SEARCH_START" placeholder="Start Location">
              <button class="icon-map-2 current-geo" v-on:click="resolveCurrentLocation"></button>
              <!-- <a v-tooltip="'Use Current Location'" class="icon-map-2 current-geo" v-on:click="resolveCurrentLocation"></a> -->
            </place-search>
          </td>
          <template v-if="$currentStart">
            <td>{{ $currentStart | pluckAddressComponent('street_number') }} {{ $currentStart | pluckAddressComponent('route') }}</td>
            <td>{{ $currentStart | pluckAddressComponent('locality') }}</td>
            <td>{{ $currentStart | pluckAddressComponent('administrative_area_level_1') }}</td>
            <td>{{ $currentStart | pluckAddressComponent('postal_code') }}<span class="btn btn-danger btn-sm clear-search" v-on:click="clearSearch('TRIP.CLEAR_CURRENT_START')">Clear</span></td>
          </template>
        </tr>
        <tr class="row-end">
          <td class="paddingless" colspan="4" v-if="!$currentEnd">
            <place-search class="place-search-end" v-if="mapLoaded" :map-obj="$mapObj" action="TRIP.ADD_SEARCH_END" placeholder="End Location"></place-search>
          </td>
          <template v-if="$currentEnd">
            <td>{{ $currentEnd | pluckAddressComponent('street_number') }} {{ $currentEnd | pluckAddressComponent('route') }}</td>
            <td>{{ $currentEnd | pluckAddressComponent('locality') }}</td>
            <td>{{ $currentEnd | pluckAddressComponent('administrative_area_level_1') }}</td>
            <td>{{ $currentEnd | pluckAddressComponent('postal_code') }}<span class="btn btn-danger btn-sm clear-search" v-on:click="clearSearch('TRIP.CLEAR_CURRENT_END')">Clear</span></td>
          </template>
        </tr>

        <template v-if="$currentStart && $currentEnd">
          <tr>
            <td colspan="4" style="background:#ccc;">
              output trip info here...
              <!-- {{ $store.getters.directionsDistance }}
              <strong>Max Charge: $ {{ ($store.getters.directionsDistance.value / 1609.344) * 0.54 }}</strong> -->
            </td>
          </tr>
          <tr>
            <td colspan="4" style="background:#28ab8e;color:#fff;font-weight:bold;">
              <img src="/img/loading-ring.svg" />
              Finding rides going this way...
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</div>
