<nav>
  <a id="nav-toggle" class="icon-navicon" v-on:click="toggleNav('nav-open')"></a>
  <ul class="nav">
    <li class="nav-item"><a class="nav-link">Home</a></li>
    <li class="nav-item"><a class="nav-link">Get Started</a></li>
    <li class="nav-item"><a class="nav-link">How It Works</a></li>
    <li class="nav-item"><a class="nav-link">About Us</a></li>
    <li class="nav-item"><a class="nav-link">Safety</a></li>
    <li class="nav-item"><a class="nav-link">Contact &amp; Support</a></li>
  </ul>
  <!-- <ul class="nav secondary">
    <li class="nav-item"><a class="nav-link">Get Started</a></li>
    <li class="nav-item"><a class="nav-link">How It Works</a></li>
  </ul> -->
</nav>
